*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
iframe{
    width: 50%;
    height: 50%;
}
form{
    background-color: lightgray;
    margin: auto;
    width: 30vw;
    height: 80vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    overflow: auto;

}
input{
    width:28vw;
    border-radius : 2px;
    border: 1px solid gray; 
}
select{
    width: 28vw;
}
#submit-btn{
    width:10vh;
    padding: 2px;
}
.heading{
    font-size: 1.3rem;
}